h1 {
    background-color: #1a1a1d;
    text-align: center;
    color: #6f2232;
}

body {
    background-color: #1a1a1d;
    color: #950740;

}

.nav-section {
    background-color: #434350;
    color: #c3073f;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;

}

a:visited {
    color: #282828;
}

.nav-list {
    list-style: none;
    display: grid;
}

.nav-content {
    margin-right: 50px;
}