h1 {
    background-color: #1a1a1d;
    text-align: center;
    color: #6f2232;
}

body {
    background-color: #1a1a1d;
    color: #950740;

}

.nav-section {
    background-color: #6F2232;
    color: #c3073f;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;

}

.container {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}