h1 {
    background-color: #CCF381;
    text-align: center;
    color: #4831D4;
}

body {
    background-color: #4831D4;
    color: #CCF381;

}

.nav-section {
    background-color: #CCF381;
    color: #4831D4;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;

}

a:visited {
    color: #4831D4;
}

.nav-list {
    list-style: none;
    display: grid;
}

.nav-content {
    margin-right: 50px;
}