.nav-section {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;

}

a:visited {
    color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-content {
    margin-right: 45px;
}

body {
    background-color: #000;
}

p {
    color: #fff;
}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

form {
    background-color: #000;
    color: #fff;
}

figcaption {
    color: #fff;
}

article {
    color: #fff;
}

footer {
    color: #fff;
}